{% extends "generic.html" %}

{% load staticfiles %}

{% block title %}
Uni Meals - Search
{% endblock title %}

{% block content %}

<!-- SEARCH-->
<!--
<div class="row">
    <div class="container col-sm-10 col-sm-offset-1">
        <div class="form-group">
            <form id="form-search" method="POST" action="/search/">{% csrf_token %}
                <div class="col-sm-6">{{FORM.query}}</div>
                <div class="col-sm-6">{{FORM.location}}</div>                
                <div class="row" style="margin-bottom: 15px;"></div>
                <div class="col-xs-6">
                    <div class="btn-right">
                        <button onclick="return filter_results();" class="btn btn-success btn-wide" type="submit">Search</button>
                    </div>           
                </div>                                    
            </form>
            <div class="col-xs-6">
                <div class="btn-left">
                    <button class="btn btn-success btn-wide" type="submit">Random</button>
                </div>           
            </div>
        </div>
    </div>
</div>

<hr noshade>

-->
<!-- END SEARCH -->

<input type="hidden" id="id_query" value=""/>
<input type="hidden" id="id_location" value=""/>

<!-- FILTER RESULTS -->
<div style="margin-top: 25px" class="container">
    <div id="div-search-results-count"><h4>{{EATERIES_COUNT_ALL}} results for '{{SEARCH_QUERY}}' @ '{{LOCATION}}'</h4></div>
    <div><span style="color: #E74C3C; font-size: 18px"><strong>Filter results:</strong></span></div>
    <!-- DROPDOWN BOXES -->
    <div class="col-xs-12">
        <div class="btn-group">
            <button type="button" value="Expensive" id="id_btn_max_pricing" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                Max pricing: Expensive<span class="caret"></span>
            </button>                
            <ul id="filter-menu" class="dropdown-menu" role="menu">
                <li><a data-value="Max pricing: " href="#">Cheap</a></li>
                <li><a data-value="Max pricing: " href="#">Affortable</a></li>
                <li><a data-value="Max pricing: " href="#">Moderate</a></li>
                <li><a data-value="Max pricing: " href="#">Expensive</a></li>
                <li><a data-value="Max pricing: " href="#">Very Expensive</a></li>
            </ul>
        </div> 

        <div class="btn-group">
            <button type="button" value="Nearby" id="id_btn_location" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                Location: Nearby<span class="caret"></span>
            </button>                
            <ul id="filter-menu" class="dropdown-menu" role="menu">
                <li><a data-value="Location: " href="#">Nearby</a></li>
                <li><a data-value="Location: " href="#">Don't care</a></li>
            </ul>
        </div>          
        <div class="btn-group">
            <button type="button" value="Best" id="id_btn_sort_by" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                Sort by: Best<span class="caret"></span>
            </button>                
            <ul id="filter-menu" class="dropdown-menu" role="menu">
                <li><a data-value="Sort by: " href="#">Best</a></li>
                <li><a data-value="Sort by: " href="#">Trending</a></li>
                <li><a data-value="Sort by: " href="#">Newest</a></li>
                <li><a data-value="Sort by: " href="#">Magic</a></li>
            </ul>
        </div>
        <button onclick="return filter_results();" type="button" class="btn btn-primary btn-sm">
            Filter results
        </button>
        <btn></btn>
    </div>
    <!-- END DROPDOWN BOXES -->
</div>
<!-- END FILTER RESULTS -->

<!-- FEATURED EATERIES -->
<hr noshade>
<div class="container">
    <h5>Featured Eateries</h5><br/>
    <div class="search-results">
        <span style="color: #2980B9"><strong>Restaurant name</strong></span>, UQ Saint Lucia<br/>
        <div class="result-div">                    
            Insert short description here<br/>                    
        </div>                
        <div class="addition-info-results">
            42 people recommends this
        </div>
    </div>
</div>
<hr noshade>
<!-- END FEATURED EATERIES -->

<!-- REGULAR EATERIES -->        
<div id="div-search-results" class="container">    
    {% for eatery, score, upvotes, total_votes, pricing_bold, pricing_rest in EATERIES %}
    <div class="search-results">        
        <a href="/eatery/{{eatery.id}}/"><strong>{{eatery.name}}</strong></a></span>&nbsp;@&nbsp;{{eatery.location.suburb}}
        <span style="font-size: 14px">{% for i in pricing_bold %}${% endfor %}<span style="color: #BDC3C7">{% for i in pricing_rest %}${% endfor %}</span>&nbsp;</span>
        <br/>
        <div class="result-div">                    
            {% for tags in eatery.tags_set.all %}
            <a href="">{{tags}}</a>; 
            {% endfor %}
        </div>                
        <div class="addition-info-results">
            {{upvotes}} out of {{total_votes}} people recommends this
        </div>
    </div>
    <hr noshade>
    {% endfor %}    
</div>
<!-- EMD REGULAR EATERIES -->
{% endblock content %}

{% block additional_scripts %}
<!-- Google Map API -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"> </script>
<script src="{% static "js/geolocation.js" %}"></script>
<script>    
    var item_no = 1;
    var is_getting = false;
    
    var search_query;
    var location_query;
    var max_pricing_val;
    var location_val;
    var sort_by_val;

    // Wait till page fully loades
    $(window).bind("load", function() {   
        // Search textboxes autoload
        document.getElementById('id_query').value = "{{SEARCH_QUERY}}";
        document.getElementById('id_location').value = "{{LOCATION}}";
        
        search_query = document.getElementById('id_query').value;
        location_query = document.getElementById('id_location').value;
        max_pricing_val = document.getElementById('id_btn_max_pricing').value;
        location_val = document.getElementById('id_btn_location').value;
        sort_by_val = document.getElementById('id_btn_sort_by').value;                         
    }); 
    
    // Dropdown boxes
    $("#filter-menu li a").click(function(){
        event.preventDefault();
        var selText = $(this).text();
        $(this).parents('.btn-group').find('.dropdown-toggle').html($(this).attr('data-value') + selText+' <span class="caret"></span>');
        $(this).parents('.btn-group').find('.dropdown-toggle').val(selText);
    });  
    
    
    // Filter search results
    function filter_results(){
        event.preventDefault();
        
        // Updates serach filters when uses presses filter results
        search_query = document.getElementById('id_query').value;
        location_query = document.getElementById('id_location').value;
        max_pricing_val = document.getElementById('id_btn_max_pricing').value;
        location_val = document.getElementById('id_btn_location').value;
        sort_by_val = document.getElementById('id_btn_sort_by').value; 
        
        item_no = 1;
        is_getting = false;
               
        $.ajax({
            url: '/search_ajax/',
            type: 'POST',
            data:{
                search_query: search_query,
                location_query: location_query,
                max_pricing_val: max_pricing_val,                
                location_val: location_val,
                sort_by_val: sort_by_val,
                csrfmiddlewaretoken: getCookie('csrftoken'),
            },

            success: function(json){
                var div_contents = "";

                // Search results div
                for(var i = 0; i < json['EATERIES_COUNT']; i++){
                    div_contents += '<div class="search-results">';
                    div_contents += '<a href="/eatery/'+json['EATERY_ID'][i]+'/"><strong>'+json['EATERY_NAME'][i]+'</strong></a></span>&nbsp;@&nbsp;'+json['EATERY_LOCATION_SUBURB'][i]+'&nbsp;';
                    div_contents += '<span style="font-size: 14px">';
                    for (var j = 0; j < json['EATERY_PRICING_BOLD'][i]; j++){
                        div_contents += '$';
                    }                
                    div_contents += '<span style="color: #BDC3C7">';
                    for (var j = 0; j < json['EATERY_PRICING_REST'][i]; j++){
                        div_contents += '$';
                    }
                    div_contents += '</span></span><br/><div class="result-div">';
                    for (var j = 0; j < json['EATERY_TAGS'][i].length; j++){
                        div_contents += '<a href="#">'+ json['EATERY_TAGS'][i][j] +'</a>;&nbsp;'
                    }
                    div_contents += '</div>';
                    div_contents += '<div class="addition-info-results">';
                    div_contents += json['EATERY_UPVOTES'][i] + ' out of '+ json['EATERY_TOTAL_VOTES'][i] +' people recommends this';
                    div_contents += '</div><hr noshade>';                                
                }
                document.getElementById('div-search-results').innerHTML = div_contents;

                document.getElementById('div-search-results-count').innerHTML = '<h4>'+json['EATERIES_COUNT_ALL']+' results for \''+json['SEARCH_QUERY']+'\' @ '+json['LOCATION']+'</h4>'
            },

            error: function(xhr, errmsg, err){
                console.log(xhr);
            }
        });
        return false;
    }

    
    // Checks scroll position
    $(window).scroll(function (event) {
        var height = $(window).scrollTop();
        //console.log(height+'/'+item_no*$(window).height()*0.65);
        // If scroll reaches 80% of page, get 10 more eateries
        if (height >= item_no*$(window).height()*0.65){  
            if(!is_getting){
                //console.log('got stuff!');
                get_more_results();
                item_no += 1;
            }
        }                
    }); 
    
    // Checks more results when user past scrolling point
    function get_more_results(){          
        $.ajax({
            url: '/search_ajax/',
            type: 'POST',
            data:{
                item_no: item_no,
                search_query: search_query,
                location_query: location_query,
                max_pricing_val: max_pricing_val,                
                location_val: location_val,
                sort_by_val: sort_by_val,
                csrfmiddlewaretoken: getCookie('csrftoken'),
            },

            success: function(json){
                var div_contents = "";

                // Search results div
                for(var i = 0; i < json['EATERIES_COUNT']; i++){
                    div_contents += '<div class="search-results">';
                    div_contents += '<a href="/eatery/'+json['EATERY_ID'][i]+'/"><strong>'+json['EATERY_NAME'][i]+'</strong></a></span>&nbsp;@&nbsp;'+json['EATERY_LOCATION_SUBURB'][i]+'&nbsp;';
                    div_contents += '<span style="font-size: 14px">';
                    for (var j = 0; j < json['EATERY_PRICING_BOLD'][i]; j++){
                        div_contents += '$';
                    }                
                    div_contents += '<span style="color: #BDC3C7">';
                    for (var j = 0; j < json['EATERY_PRICING_REST'][i]; j++){
                        div_contents += '$';
                    }
                    div_contents += '</span></span><br/><div class="result-div">';
                    for (var j = 0; j < json['EATERY_TAGS'][i].length; j++){
                        div_contents += '<a href="#">'+ json['EATERY_TAGS'][i][j] +'</a>;&nbsp;'
                    }
                    div_contents += '</div>';
                    div_contents += '<div class="addition-info-results">';
                    div_contents += json['EATERY_UPVOTES'][i] + ' out of '+ json['EATERY_TOTAL_VOTES'][i] +' people recommends this';
                    div_contents += '</div><hr noshade>';                                
                }
                document.getElementById('div-search-results').innerHTML += div_contents;                
                
                is_getting = false;
            },

            error: function(xhr, errmsg, err){
                console.log(xhr);
            }
        });        
    }
</script>
{% endblock additional_scripts %}