{% extends "generic.html" %}

{% block title %}
Log in
{% endblock title %}

{% block content %}
{% if not user.is_authenticated %}
<div style="padding: 50px 0px 50px 0px;" class="container">
    <div class="col-sm-6 col-sm-offset-3">
        <form id="form-login" class="form-authenticate" method="POST" action="">{% csrf_token %}
            <span style="font-size: 25px">Log in</span><p></p>
            <div class="form-error" id="login-details-error"></div>
            <p></p>
            <p>{{form.identifier}}</p>            
            <p>{{form.password}}
            
            <span style="font-size: 12px">Forgot your <a href="#">password?</a></span>
            </p>
            <button id="btn-signup" style="width:100%" class="btn btn-primary btn-success">Login!</button>            
        </form>
    </div>
</div>
{% else %}
<div style="padding: 50px 0px 50px 0px;" class="container">
    <div class="col-sm-6 col-sm-offset-3">
        You're already logged in, please <a href="/logout/">logout</a> to log into a different account.
    </div>
</div>
{% endif %}
{% endblock content %}