{% extends "generic.html" %}
{% load staticfiles %}
{% block title %}
{{USER.username}}
{% endblock title %}

{% block content %}
<!-- DATA INFO FOR URLS -->
<div id="data-div" data-url={{request.get_full_path}}></div>

<!-- USER PROFILE -->
<div class="row">
	<div class="container">
		<div style="text-align: center" class="centered col-sm-4">
			<form enctype="multipart/form-data" id="profile-dp-form" method="POST" action="{{request.get_full_path}}update_dp/">{% csrf_token %}                
				<img width=200 height=200 src="{{MEDIA_URL}}{{USER.picture}}" alt="User"><br/><br/>
                <div style="text-align:center; color: #C0392B" id="form-status-dp-error"></div>
				{{ form_dp.as_p }}
				<br/>
				<button id="btn-change-dp" class="btn btn-info">Change picture</button>
			</form>
		</div>
		<div class="col-sm-8">
			<div class="profile-info">
				<form id="profile-info-form" method="POST" action="">{% csrf_token %}
                    <div style="text-align:center; color: #27AE60" id="form-status-profile-info"></div>
                    <div id="div-profile-info-status"></div>
                    {{ form_info.as_p }}
					<p><button style="margin-bottom: 20px" class="btn btn-info pull-right">Update</button></p>
				</form>
				
				<form id="profile-pasword-form" style="margin-top: 15px" method="POST" action="">{% csrf_token %}                                    
                    {{ form_password.as_p }}
                    <div style="text-align:center; color: #27AE60" id="form-status-profile-password"></div>
                    <div style="text-align:center; color: #C0392B" id="form-status-profile-password-error"></div>
					<button  class="btn btn-primary btn-info pull-right">Change password</button>                    
				</form>    
			</div>
		</div>
		<br/>
	</div>
</div>
<!-- END USER PROFILE -->       
{% endblock content %}

{% block additional_scripts %}
<!-- jQuery File Upload -->
<script src="{% static "js/vendor/jquery.fileupload.js" %}"></script>                               
{% endblock additional_scripts %}