{% extends "generic.html" %}

{% block title %}
Uni Meals - Profile
{% endblock title %}

{% block content %}
<!-- USER PROFILE -->
<div class="row">
    <div class="container">
        <div style="text-align: center" class="centered col-sm-4"><img width=200 height=200 src="{{MEDIA_URL}}{{USER.picture}}" alt="User"></div>
        <div class="col-sm-8">
            <div class="profile-info">
                <p><strong>{{USER.username}}</strong>{% if USER.location %} @ {{USER.location}} {% endif %}</p>
                <p><strong>About me</strong><br/>{% if USER.description %} {{USER.description}} {% else %}I enjoy using uni meals!{% endif %}</p>
                <button class="btn btn-info">Message</button>
            </div>
        </div>
        <br/>
    </div>
</div>
<!-- END USER PROFILE -->

<!-- USER CONTENT -->   
<div class="row">
    <div class="container">
        <div class="col-sm-12">
            <div id="tab-wizard">                    
                <hr style="width: 100%" noshade>
                <!-- TABS -->
                <ul class="nav nav-pills">
                    <li><a href="#wall-tab" data-toggle="tab">Wall</a></li>
                    <li><a href="#timeline-tab" data-toggle="tab">Timeline</a></li>
                </ul>
                <!-- END TABS -->
                <hr noshade>
            </div>                        

            <div class="tab-content">
                <!-- USER WALL -->
                <div class="tab-pane" id="wall-tab">
                    <form method="post" action="">
                        <textarea style="font-size: 15px; width:100%" rows="2" id="wall-post"></textarea>
                        <div style="text-align: right"><button class="btn btn-info">Post!</button></div>
                    </form>
                    <hr style="width: 100%" noshade>
                    <div class="row wall-post-wrapper">                    
                        <!-- POST -->
                        <div class="container">
                            <div class="col-sm-1"><img class="wall-post-op-dp" src="{{MEDIA_URL}}{{USER.picture}}"/></div>      
                            <div class="col-sm-11 wall-post-text">G'day mate! I'm just testing out to see how this thingy majigy is going to render these text and see if it is actually of standard to be user</div>                           
                        </div>
                        <!-- END POST -->

                        <!-- REPLY -->
                        <div class="container">
                            <div class="col-sm-2"><img class="wall-post-reply-dp" src="{{MEDIA_URL}}{{USER.picture}}"/></div>      
                            <div class="col-sm-10 wall-post-text">G'day mate! I'm just testing out to see how this thingy majigy is going to render these text and see if it is actually of standard to be user</div>                           
                        </div>

                        <div class="container">
                            <div class="col-sm-2"><img class="wall-post-reply-dp" src="{{MEDIA_URL}}{{USER.picture}}"/></div>      
                            <div class="col-sm-10 wall-post-text">G'day mate! I'm just testing out to see how this thingy majigy is going to render these text and see if it is actually of standard to be user</div>                           
                        </div>
                        <!-- END REPLY -->

                        <!-- USER REPLY -->
                        <div class="container">
                            <div class="col-xs-2"><img class="wall-post-reply-dp" src="{{MEDIA_URL}}{{USER.picture}}"/></div>      
                            <div class="col-xs-10"><input class="wall-post-reply-textarea" id="wall-post-reply"></input></div>                           
                        </div>
                        <!-- END USER REPLY -->
                    </div>    
                </div>
                <!-- END USER WALL -->

                <!-- GENERIC TIMELINE -->  
                <div class="tab-pane" id="timeline-tab">
                    <hr noshade>
                    <ul class="timeline">
                        <li>
                            <div class="timeline-badge success"><i class="glyphicon fui-check"></i></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="timeline-title">Review</h4>
                                    <p><small class="text-muted"><i class="glyphicon fui-time"></i> 11 hours ago</small></p>
                                </div>
                                <div class="timeline-body">
                                    <p>Gave XYZ eatery a review</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-badge warning"><i class="glyphicon fui-heart"></i></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="timeline-title">Favourites</h4>
                                    <p><small class="text-muted"><i class="glyphicon fui-time"></i> 13 hours ago</small></p>
                                </div>
                                <div class="timeline-body">
                                    <p>Favourited XYZ food</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-badge info"><i class="glyphicon fui-credit-card"></i></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="timeline-title">Rewards</h4>
                                    <p><small class="text-muted"><i class="glyphicon fui-time"></i>19:35 on 05/05/2015</small></p>
                                </div>
                                <div class="timeline-body">
                                    <p>User xxx gained a free meal at XYZ restaurant.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-badge success"><i class="glyphicon fui-triangle-up"></i></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="timeline-title">Voted Up</h4>
                                    <p><small class="text-muted"><i class="glyphicon fui-time"></i>06:15 on 02/05/2015</small></p>
                                </div>
                                <div class="timeline-body">
                                    <p>User Voted up XYA restaurant.</p>
                                    <hr>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                                            <i class="glyphicon fui-gear"></i> <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#">Action</a></li>
                                            <li><a href="#">Another action</a></li>
                                            <li><a href="#">Something else here</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#">Separated link</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-badge danger"><i class="glyphicon fui-triangle-down"></i></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="timeline-title">Voted Down</h4>
                                </div>
                                <div class="timeline-body">
                                    <p>User Voted up XYA restaurant.</p>
                                    <hr>
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                                            <i class="glyphicon fui-gear"></i> <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li><a href="#">Action</a></li>
                                            <li><a href="#">Another action</a></li>
                                            <li><a href="#">Something else here</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#">Separated link</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- END GENERIC TIMELINE -->
            </div>
        </div>
    </div>            
</div>
<!-- END USER CONTENT -->
{% endblock content %}