{% extends "generic.html" %}

{% block title %}
Sign up
{% endblock title %}

{% block content %}
<div style="padding: 50px 0px 50px 0px;" class="container">
    <div class="col-sm-6 col-sm-offset-3" id="div-form-signup">
        <form id="form-signup" class="form-authenticate" method="POST" action="/profile/signup/adduser/">{% csrf_token %}
            <span style="font-size: 25px">Sign Up</span><p></p>
            {{form.username}}<div class="form-error" id="username-error"></div><p></p>
            {{form.email}}<div class="form-error" id="email-error"></div><p></p>
            {{form.re_email}}<div class="form-error" id="re_email-error"></div><p></p>
            {{form.password}}<div class="form-error" id="password-error"></div><p></p>
            {{form.re_password}}<div class="form-error" id="re_password-error"></div><p></p>
            <button id="btn-signup" style="width:100%" class="btn btn-primary btn-success">Sign Up!</button>
            <div style="line-height: 1em; text-align: center"><span style="font-size: 12px">*By signing up, you're agreeing to our <a href="#">terms and conditions</a></span></div>
        </form>
    </div>
</div>
{% endblock content %}