<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Uni Meals - Edit Profile</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Bootstrap -->
        <link href="{% static "css/vendor/bootstrap.min.css" %}" rel="stylesheet">

        <!-- Flat UI -->
        <link href="{% static "css/flat-ui.min.css" %}" rel="stylesheet">

        <!-- uni meals css -->
        <link href="{% static "css/uni-meals.css" %}" rel="stylesheet">
        
        <!-- Fonts -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <!-- NAVBAR -->
        <div class="navbar-wrapper row">
            <div class="col-xs-12">
                <nav class="navbar navbar-default" role="navigation">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                            <span class="sr-only">Toggle Navigation</span>
                        </button>
                        <a class="navbar-brand" href="/">UNI MEALS</a>
                    </div>                    
                    <div class="collapse navbar-collapse" id="navbar-collapse">
                        <ul class="nav navbar-nav navbar-left">
                            <li><a></a></li>                            
                            <li><a href="/browse/">Browse</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            {% if not user.is_authenticated %} 
                            <li><a class="a-authenticate" href="/signup/">Sign up</a></li>
                            <li><a class="a-authenticate" href="/login/">Log in</a></li>
                            <!-- If user is logged in -->
                            {% else %}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Me<b class="caret"></b></a>
                                <span class="dropdown-arrow"></span>
                                <ul class="dropdown-menu">
                                   <li><a href="/profile/{{USER.id}}">Activity</a></li>
                                    <li><a href="/inbox/">Messages<span class="badge">25</span></a></li>
                                    <li class="divider"></li>
                                    <li><a href="/profile/edit/{{USER.id}}">Edit profile</a></li>
                                    <li class="divider"></li>    
                                    <li><a href="/logout/">Log out</a></li>
                                </ul>
                            </li> 
                            {% endif %}
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!-- END NAVBAR -->
        <hr noshade>

        <!-- MESSAGE -->
        <div class="container">
            <div class="message-post-wrapper">
                <div class="col-sm-12">
                    <span style="text-align: center"><h4>Message title</h4></span>                    
                </div>
                
                <!-- MESSAGE CONTENT -->                    
                <div class="container">
                    <div class="col-sm-12">
                        <!-- USER DP -->
                        <div style="text-align: center" class="col-sm-2">
                            <img src="{{MEDIA_URL}}img/login/imac.png" width=75 height=75/><br/>
                            Username
                        </div>                            
                        <!-- END USER DP -->

                        <!-- USER TEXT -->
                        <div style="" class="col-sm-10">
                            <span class="message-datetime">12/03/2015 at 19:35</span><br/>
                            G'day mate, i'm just going to test out how is this message thingy majigy going to render. Is it going to render properly or is it going to poop around and overlay on other stuff??
                        </div>
                        <!-- END USER TEXT -->                            
                    </div>                                        
                </div>
                <!-- END MESSAGE CONTENT -->
                
                <hr noshade>
                
                <!-- MESSAGE CONTENT -->
                <div class="container">
                    <div class="col-sm-12">
                        <!-- USER DP -->
                        <div style="text-align: center" class="col-sm-2">
                            <img src="{{MEDIA_URL}}img/login/imac.png" width=75 height=75/><br/>
                            Username
                        </div>                            
                        <!-- END USER DP -->

                        <!-- USER TEXT -->
                        <div class="col-sm-10">
                            <span class="message-datetime">12/03/2015 at 19:35</span><br/>
                            G'day mate, i'm just going to test out how is this message thingy majigy going to render. Is it going to render properly or is it going to poop around and 
                        </div>
                        <!-- END USER TEXT -->                            
                    </div>                                        
                </div>
                <!-- END MESSAGE CONTENT -->
                
                <hr noshade>
                
                <div class="container">
                    <textarea placeholder="Enter reply here" style="font-size: 15px; width:97%;" rows="4" id="edit-password-textarea"></textarea><br/>
                    <button style="width:97%" class="btn btn-info">Reply</button>                    
                </div>
                
                <hr noshade>
            </div>            
        </div>
        <!-- END MESSAGE -->             
        
        <hr noshade>        
        <!-- FOOTER -->
        <div class="footer container">
            <div class="col-sm-3">
                <strong>About Us</strong><br/>
                <a href="#">What is Uni Meals?</a><br/>
                <a href="#">Who we are</a><br/>
                <a href="#">Partners</a>
            </div>
            <div class="col-sm-3">
                <strong>Help</strong><br/>
                <a href="#">FAQ</a><br/>
                <a href="#">Terms of use</a><br/>
                <a href="#">Support</a>
            </div>
            <div class="col-sm-3">
                <strong>Discover</strong><br/>
                <a href="#">Specials</a><br/>
                <a href="#">Eatery</a><br/>
                <a href="#">Food</a>
            </div>
            <div class="col-sm-3">
                <strong>Hello</strong><br/>
                <span class="fui-facebook"></span>&nbsp;&nbsp;<a href="#">Facebook</a><br/>
                <span class="fui-instagram"></span>&nbsp;&nbsp;<a href="#">Instagram</a><br/>
                <span class="fui-twitter"></span>&nbsp;&nbsp;<a href="#">Twitter</a><br/>
            </div>
        </div>
        <!-- END FOOTER -->            
        <hr noshade>
        
        <div class="container" style="text-align: left">&copy; 2015 Uni Meals</div>
        
        <!-- jQuery -->
        <script src="{% static "js/vendor/jquery.min.js" %}"></script>
        <script src="{% static "js/vendor/jquery.bootstrap.min.js" %}"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="{% static "js/vendor/video.js" %}"></script>
        <script src="{% static "js/flat-ui.min.js" %}"></script>
        <script src="{% static "js/uni-meals.js" %}"></script>
    </body>
</html>
